.admin-login { z-index:1000; position:absolute; right:20px; top:20px; width:150px; text-align:right; color:#666 }
.login-msg { z-index:1000; position:absolute; right:21px; top:50px; width:147px; text-align:center; padding:5px 0; border:1px dotted red; background:#fcc; color:red }
.login-box { z-index:1000; background:#ffc; border:1px dotted #999; width:150px; padding-top:10px; padding-bottom:10px; margin-top:5px; text-align:center; display:none; color:#666 }
.login-box input, form#formeditor1 textarea { font:8pt Verdana, Arial, Helvetica, sans-serif; color:#666; border:1px solid #bbb }
.login { margin-top:5px; cursor:pointer; font-size:10pt }
.login-box .login-submit { margin-top:10px; cursor:pointer; border:0 }

.heading { font:italic 14pt Palatino Linotype, Book Antiqua, Palatino, serif; color:#69c; border-bottom:1px dotted #999; float:left; clear:left; width:95%; margin-top:15px }
.last-updated { font-size:8pt; color:#999; margin-top:5px }

.fast-edit-outer { background:#fff; text-align:center; padding-top:5px; padding-bottom:25px }
.fast-edit-container { text-align:left; font:10pt Verdana, Arial, Helvetica, sans-serif; color:#666; padding:20px; border:1px dotted #999; margin:auto; margin-top:25px; background:#fff; max-width:1200px }

.editor { text-align:center; margin-top:15px; display:none; width:100% }
form#formeditor1 { margin:0; padding:0 }
a.close-edit, a.close-edit:visited, a.close-edit:active { float:right; margin-bottom:9px; padding:3px 7px; background:#f0f0ee; color:#666; border:1px solid #ccc; text-decoration:none }
a.close-edit:hover { background:#999; color:#fff }

.save-active, .close-edit { display:none }
.edit, .close-edit, .save, .logout { cursor:pointer; border:0; padding:0; background:transparent }

@media only screen and (min-device-width:320px) and (max-device-width:1024px) { 
     html{ -webkit-text-size-adjust:100% } 
}